:root {
  /*primary colors*/
  --Cream-background : #CFA374;
  --Dark-brown : #533925;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 5rem;
  background-color: #CFA374;
  color: aliceblue;
  width: 100%;
  margin-top: 8px;
  margin: 0%;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #CFA374;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.logo img {
  height: 300px;
  width: 700px;
}

nav ul {
  display: flex;
  gap: 250px;
  list-style: none;
  color: #533925;
  font-size: 5.5rem;
  font-weight:300;
}








/*footer*/
#footer{
  background-color: #533925;
  height: 100rem;
  display: flex;
  justify-content: space-between;
}

.footerimg{
  padding-top: 25rem;
  padding-left: 10rem;
}

.footerimg img{
  padding-left: 20rem;
  width: 1100px;
  height: 450px;
}

.footerimg-sidetext{
  text-align: center;
  margin-top: 0%; 
  padding-left: 13rem;
}
.footertext{
  padding-right: 20rem;
  padding-top: 16rem;
}

.social a{
  display: inline-block;
  background: white;
  color:#533925;
  width: 7rem;
  height: 6rem;
  text-align: center;
}