:root {
  /*primary colors*/
  --Cream-background : #CFA374;
  --Dark-brown : #533925;
  --button-hover : #2d1c10;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 5rem;
  background-color: #CFA374;
  color: aliceblue;
  width: 100%;
  margin-top: 8px;
  margin: 0%;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #CFA374;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.logo{
  padding-bottom: 50px;
  padding-right: 50px;
}
.logo img {
  height: 300px;
  width: 300px;
}
.logo img:hover{
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 150px;
  list-style: none;
  color: #533925;
  font-size: 5rem;
  font-weight:500;
}
nav ul li:hover{
  cursor: pointer;
  color: #2d1c10;
}

.left-side-header{
  display: flex;
  flex-direction: row;
}

.signin-join-btn{
  padding-bottom: 90px;
}

.headder-btn{
  font-size: 4.5rem;
  height: 150px;
  width: 370px;
  border-radius: 75px;
  color: #533925;
  background-color: transparent;
  border: 8px solid #533925;
}

.headder-btn:hover{
  cursor: pointer;
  background-color: #2d1c10;
  border: #2d1c10;
  color: white;
}
/*body*/

.category-description{
  font-size: 3rem;
  color: black;
  margin-left: 3rem;
  font-weight: 300;
}

h4{
  margin: 0%;
  font-size: 5rem;
  color: black;
  margin-left: 3rem;
  margin-top: 3rem;
}

.cover{
  height:100rem;
  padding: 45rem;
  padding-top: 3rem;
  background-color: #C69D72; 
}

.cover-caption{
  color: black;
  text-align: center;
}

.categories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-cards{
  background-color: white;
  height: 80rem;
  width: 50rem;
  transition: transform 0.3s ease ;
}

.category-cards:hover{
  cursor: pointer;
  transform: scale(1.01);

}

.category-cards img{
  width: 50rem;
}

.top-sellings{
  height: 100rem;
}

.pro-card{
  height: 65rem;
  width: 45rem;
  background-color: white;
}

.pro-card-details img{
  padding-left: 2.3rem;
  padding-top: 2rem;
}

h6{
  color: black;
  font-size: 4rem;
  margin: 0%;
}

h5{
  color: black;
  margin: 0%;
}

.btn-buy{
  font-size: 3.5rem;
  height: 100px;
  width: 300px;
  border-radius: 75px;
  color:black;
  background-color: transparent;
  border: 8px solid black;
}

.price{
  margin-top: 5rem;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

/*footer*/
#footer{
  background-color: #533925;
  height: 100rem;
  display: flex;
  justify-content: space-between;
}

.footerimg{
  padding-top: 25rem;
  padding-left: 10rem;
}

.footerimg img{
  padding-left: 25rem;
  width: 850px;
  height: 450px;
}

.footerimg-sidetext{
  text-align: center;
  margin-top: 0%; 
  padding-left: 13rem;
}
.footertext{
  padding-right: 20rem;
  padding-top: 16rem;
}

.social a{
  display: inline-block;
  background: white;
  color:#533925;
  width: 7rem;
  height: 6rem;
  text-align: center;
}