:root {
  /*primary colors*/
  --Cream-background : #CFA374;
  --Dark-brown : #533925;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 5rem;
  background-color: #CFA374;
  color: aliceblue;
  width: 100%;
  margin-top: 8px;
  margin: 0%;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #CFA374;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.logo img {
  height: 300px;
  width: 700px;
}

nav ul {
  display: flex;
  gap: 250px;
  list-style: none;
  color: #533925;
  font-size: 5.5rem;
  font-weight:300;
}

/*body*/

.coverimg {
  position: relative;
  padding-bottom: 2rem;
}

.coverimg img {
  width: 100%;
  height: 100%;
  transition: opacity 0.9s ease-in-out;
}

.coverimg p {
  position: absolute;
  top: 15%;
  left: 55%;
  font-size: 12rem;
  text-align: center;
}

.coverimg button{
  font-size: 90px;
  position: absolute;
  height: 200px;
  width: 550px;
  color: aliceblue;
  background-color: transparent;
  border: 8px solid white;
  top: 45%;
  left: 70%;
}

#home_description{
  display: flex;
  flex-direction: column;
}

h3{
  font-size: 6rem;
  color: #533925;
  text-align: center;
}

h4{
  font-size: 6rem;
  font-weight: lighter;
  color: #533925;
  text-align: left;
}

.line{
  border: none;
  height: 4px;
  background-color: #533925;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.description_img{
  display: flex;
  height: 100%;
}
.description_img img{
  height: 150rem;
  width: 100rem;
  border: 1rem solid#533925;
}

.description_text{
  height: 150rem;
  width: 150rem;
  padding-top: 30rem;
}

.description_text p{
 text-align: left;
 color: #533925;
 font-size: 4.7rem;
}

/*footer*/
#footer{
  background-color: #533925;
  height: 100rem;
  display: flex;
  justify-content: space-between;
}

.footerimg{
  padding-top: 25rem;
  padding-left: 10rem;
}

.footerimg img{
  padding-left: 20rem;
  width: 1100px;
  height: 450px;
}

.footerimg-sidetext{
  text-align: center;
  margin-top: 0%; 
  padding-left: 13rem;
}
.footertext{
  padding-right: 20rem;
  padding-top: 16rem;
}

.social a{
  display: inline-block;
  background: white;
  color:#533925;
  width: 7rem;
  height: 6rem;
  text-align: center;
}