:root {
  /*primary colors*/
  --Cream-background : #CFA374;
  --Dark-brown : #533925;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 5rem;
  background-color: #CFA374;
  color: aliceblue;
  width: 100%;
  margin-top: 8px;
  margin: 0%;
}

header {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.logo img {
  height: 300px;
  width: 700px;
}

nav ul {
  display: flex;
  gap: 250px;
  list-style: none;
  color: #533925;
}

.coverimg {
  position: relative;
}

.coverimg img {
  width: 100%;
  height: 100%;
  transition: opacity 0.9s ease-in-out;
}

.coverimg p {
  position: absolute;
  top: 15%;
  left: 55%;
  font-size: 12rem;
  text-align: center;
}

.coverimg button{
  font-size: 90px;
  position: absolute;
  height: 200px;
  width: 550px;
  color: aliceblue;
  background-color: transparent;
  border: 8px solid white;
  top: 45%;
  left: 70%;
}

h3{
  font-size: 5rem;
  color: #533925;
  text-align: center;
}